[submodule "Book_and_Test"]
  active = true
	url = git@github.com:tryingsomestuff/Minic-Book_and_Test.git
	path = Book_and_Test

[submodule "Dist"]
  active = true
  url = git@github.com:tryingsomestuff/Minic-Dist.git

[submodule "Fathom"]
  active = true
  url = git@github.com:jdart1/Fathom.git

[submodule "Illustrations"]
  active = true
  url = git@github.com:tryingsomestuff/Illustrations.git

[submodule "NNUE-Nets"]
  active = true
  url = git@github.com:tryingsomestuff/NNUE-Nets.git

